@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 67% 96%;
    --foreground: 232 43% 15%;
    --card: 0 0% 100%;
    --card-foreground: 232 43% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 232 43% 15%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 50% 90%;
    --secondary-foreground: 232 43% 25%;
    --muted: 228 50% 90%;
    --muted-foreground: 232 43% 45%;
    --accent: 38 100% 62%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 30% 88%;
    --input: 231 30% 88%;
    --ring: 231 48% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 232 43% 10%;
    --foreground: 228 67% 96%;
    --card: 232 43% 15%;
    --card-foreground: 228 67% 96%;
    --popover: 232 43% 10%;
    --popover-foreground: 228 67% 96%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 43% 20%;
    --secondary-foreground: 228 67% 96%;
    --muted: 232 43% 20%;
    --muted-foreground: 228 67% 80%;
    --accent: 38 100% 62%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 43% 25%;
    --input: 232 43% 25%;
    --ring: 231 48% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
